---
import ReactComponent from "../components/ReactComponent.jsx";
import SolidComponent from "../components/SolidComponent.jsx";
const appName = 'Scalable Shoe Shop';

// shell can fetch from a database
const products = [
    {
      name: "Shoe A",
      description: "It is a good shoe",
      price: 100,
    },
    {
      name: "Shoe B",
      description: "It is a comfortable shoe",
      price: 120,
    },
    {
      name: "Shoe C",
      description: "It is a stylish shoe",
      price: 150,
    },
    {
      name: "Shoe D",
      description: "It is a durable shoe",
      price: 90,
    },
  ];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{appName}</title>
    <script type="importmap">
      {
        "imports": {
          "app-cart": "http://localhost:7100/bundle.js",
          "app-heading": "http://localhost:7200/bundle.js",
          "app-products": "http://localhost:7300/bundle.js",
          "react": "https://esm.sh/stable/react@18.2.0/es2022/react.mjs",
          "react-dom": "https://esm.sh/v135/react-dom@18.2.0/es2022/react-dom.mjs",
          "solid-js": "https://esm.sh/stable/solid-js@1.8.11/es2022/solid-js.mjs"
        }
      }
    </script>
  </head>
  <body>
    <main>
      <ReactComponent title={appName} client:only="react" />
      <SolidComponent products={products} client:only="solid" />
    </main>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
